*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* head section start */

.header{
    background-color:lightgray -0.889px 0px / 100.111% 111.51%;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    /* background-position: bottom left; */
    margin-top: -55px;
    display: flex;
    justify-content: right;
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
}

.about-think{
    width:525px;
    height:228px;
    color:#151414;
    text-align: right;
    font-size: 65px;
    padding: 216px 230px 0px 845px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;



}

.about-descripe{
    width: 494px;
    height: 78px;
    color:#444343;
    text-align: right;
    font-size: 16px;
    padding: px 230px 0px 876px;
    margin-left: 60%;
    
}
/* btn-primaray */

.btn-primary{
    width: 180px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: #fff;
    padding: 15px 35px;
    text-align: right;
    margin: 24px 255px 186px 1236px;


} 

/* header section end */

/* main section start  */

.contaniar{
    display: flex;
    justify-content: center;

}
.contaniar img{
    width: 451px;
    padding-left: 40px;
}

.aboutme{
    padding-left: 40px;
}

/* 
feature section start */



.plansection{
    padding-left: 33%;
}

.courseaboutdetalis img{
    position: center;
}
.CourseDe{
    padding-left: -125px;
}

.myplan{
  
    padding: 5% 28%;
}
.featurs{
    display: flex;
    gap: 25px;
}

/* section settime  */

.timeset{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    background-position: bottom right;
    padding-left: 350px;
    padding-top: 125px;

}

.awlays{
    width: 459px;
    height: 49px;
    padding: 59px 300px 25px 64px;
    color: #FFF;
    font-size: 40px;

}
    .btn2-primary{
         color: #F15B22;
         text-align: center;
         font-size: 20px;
         padding: 15px 36px 20px 36px;
         width: 190px;
         height: 64px;
         margin-left: 60px;
         

    }
/* footer section start */

footer{
    margin-top: 130px;
    width: 1600px;
    height: 450px;
    background: #151414;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 130px;
}

.featureabout{
    color: #F8F8F8;
    
}


.featuredescribe{
    color: #FFF;
    width: 485px;
    height: 78px; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    
    
}


.contact input[type="email"]{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #000000;
    border: 0;
    color: #fff;
}

.footerSubscribe{
    display:block;
}

.btn2{
      color: #F15B22;
      font-family: Inter;
      font-size: 15px;
      width: 150px;
      padding: 10px;

}
.email{
    width: 284px;
    height: 26px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;

}

.phone{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 284px;
    height: 26px;

}

.Subscribe{
    color: #FFF;
    
}